/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}

.cardproduct main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

body {
  display: grid;
  margin: 3rem;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  color: black;
}

a {
  text-decoration: none;
  color: inherit;
}

nav {
  margin-top: 1rem;
  font-size: 1.1rem;
}

h1 {
  font-size: 3rem;
  color: brown;
}

h2 {
  margin: 3.5rem 0rem 1.2rem 0rem;
  font-size: 2rem;
}

.category_list {
  display: grid;
  grid-template-columns: subgrid;
  gap: 1rem;
}

.category_list a {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.4rem;
  padding: 2em;
  background-color: black;
  color: white;
  border-radius: 0.5rem;
}

.category_list a:hover {
  opacity: 20%;
}

.cardproduct article {
  display: flex;
  flex-direction: column;
}

@media (min-width: 800px) {
  body {
    margin: 6rem;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  nav {
    font-size: 1.4rem;
  }

  h2 {
    font-size: 3rem;
    margin-top: 5rem;
  }

  .category_list {
    grid-template-columns: repeat(3, 1fr);
  }
}
