/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}

body {
  display: grid;
  min-height: 100svh;
  margin: 2rem;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  color: black;
}

a {
  text-decoration: none;
  color: inherit;
}

nav {
  margin-top: 1rem;
  font-size: 1.1rem;
}

h1 {
  font-size: clamp(2rem, 6vw, 4rem);
  color: brown;
}

h2 {
  margin: 3.5rem 0rem 1.2rem 0rem;
  font-size: 2rem;
}

h3 {
  margin-top: 3rem;
  margin-bottom: 0.5rem;
}

.category_list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

.category_list a {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.2rem;
  padding: 2em;
  background-color: black;
  color: white;
  border-radius: 0.5rem;
}

.cardproduct {
  position: relative;
}

.cardproduct .sold {
  position: absolute;
  top: 0;
  left: 0;
  padding: clamp(0.5rem, 2vw, 1rem);
  margin: 1rem;
  background-color: black;
  border-radius: 0.5rem;
  color: white;
}

.category_list a:hover {
  opacity: 20%;
}

.cardproduct article {
  display: flex;
  flex-direction: column;
}

.cardproduct h3 {
  margin-top: 1em;
}

.product-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.2rem;
}

.discount {
  display: flex;
  justify-content: space-between;
}

p {
  margin: 0.5rem 0rem 0rem 0rem;
}

.sale {
  background-color: rgb(255, 255, 70);
  padding: 0.5rem;
  border-radius: 1rem;
}

.product-container .soldout img {
  opacity: 0.5;
}

.line {
  text-decoration: line-through;
  color: rgb(171, 28, 28);
}

.product {
  color: rgb(164, 164, 164);
}

.product-text p {
  margin: 1rem 0rem 1rem 0rem;
}

button {
  background-color: black;
  color: white;
  padding: 0.5rem;
  border: none;
  cursor: pointer;
  border-radius: 0.5rem;
}

button:hover {
  opacity: 20%;
}

@media (min-width: 900px) {
  .product-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1000px) {
  body {
    margin: 6rem;
  }

  .flex-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  nav {
    font-size: 1.4rem;
  }

  h2 {
    font-size: 3rem;
    margin-top: 5rem;
  }

  .category_list {
    grid-template-columns: repeat(3, 1fr);
  }

  .category_list a {
    font-size: 1.5rem;
  }

  .product-container {
    grid-template-columns: repeat(4, 1fr);
  }

  .product-img-text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6rem;
  }

  .product-img-text p {
    font-size: 1.2rem;
  }

  button {
    padding: 0.8rem;
    border: none;
    cursor: pointer;
    border-radius: 0.5rem;
  }
}
